.output {
	height: 100px;
	width: 100px;
	padding: 10px;
	margin: 40px;
	font-family: 'Oswald', sans-serif;
}

.input-group {
	margin: 15px;
}

.container {
	background-color: lavender;
}

body {
	background-color: currentColor;
}